{% extends "users/user_dashboard.html" %}

{% block user_content %}


<div class="d-flex justify-content-end me-2 mb-2">
    <a class="btn btn-outline-success btn-sm px-4" href="{{ url_for('main.task_create') }}">
        Add
    </a>
</div>

<!-- Today's  -->
<br>
<h5>Today's Tasks</h5>
<hr>
<table class="table table-hover align-middle mb-0">
    <thead class="bg-warning-subtle text-warning border-bottom border-warning">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Notes</th>
            <th scope="col">Due Date</th>
            <th scope="col">Due Time</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for task in todays_tasks %}
        <tr>
            <th scope="row" class="text-warning">{{ loop.index }}</th>
            <td>{{ task.title }}</td>
            <td class="text-secondary">{{ task.notes or "No notes" }}</td>
            <td>{{ task.due_date.strftime("%Y-%m-%d") }}</td>
            <td>{{ task.due_time.strftime("%H:%M") if task.due_time else "—" }}</td>
            <td><a href="{{ url_for('main.task_edit', id=task.task_id) }}"
                    class="btn btn-outline-secondary btn-sm">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- PENDING TASKS -->
<br>
<h5>Pending Tasks</h5>
<hr>
<table class="table table-hover align-middle mb-0">
    <thead class="bg-warning-subtle text-warning border-bottom border-warning">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Notes</th>
            <th scope="col">Due Date</th>
            <th scope="col">Due Time</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for task in pending_tasks %}
        <tr>
            <th scope="row" class="text-warning">{{ loop.index }}</th>
            <td>{{ task.title }}</td>
            <td class="text-secondary">{{ task.notes or "No notes" }}</td>
            <td>{{ task.due_date.strftime("%Y-%m-%d") }}</td>
            <td>{{ task.due_time.strftime("%H:%M") if task.due_time else "—" }}</td>
            <td><a href="{{ url_for('main.task_edit', id=task.task_id) }}"
                    class="btn btn-outline-secondary btn-sm">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Today's  -->
<br>
<h5>Upcoming Tasks</h5>
<hr>
<table class="table table-hover align-middle mb-0">
    <thead class="bg-warning-subtle text-warning border-bottom border-warning">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Notes</th>
            <th scope="col">Due Date</th>
            <th scope="col">Due Time</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for task in upcoming_tasks %}
        <tr>
            <th scope="row" class="text-warning">{{ loop.index }}</th>
            <td>{{ task.title }}</td>
            <td class="text-secondary">{{ task.notes or "No notes" }}</td>
            <td>{{ task.due_date.strftime("%Y-%m-%d") }}</td>
            <td>{{ task.due_time.strftime("%H:%M") if task.due_time else "—" }}</td>
            <td><a href="{{ url_for('main.task_edit', id=task.task_id) }}"
                    class="btn btn-outline-secondary btn-sm">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- 
<br>
<h5>LOGIC HERE</h5>
<hr>
<p class="text-center my-3 text-warning-emphasis">No tasks yet.</p>
-->

{% endblock %}