{% extends "users/user_dashboard.html" %}

{% block user_content %}

<!-- Page Header -->
<div class="page-header d-flex justify-content-between align-items-center mt-3 mb-3">
    <h4 class="mb-0">
        <i class="bi bi-list-task"></i> My Tasks
    </h4>
    <div>
        <a class="btn btn-outline-success btn-sm px-4" href="{{ url_for('main.task_create') }}">
            Add
        </a>
    </div>
</div>

<!-- Accordion Section -->
<div class="accordion accordion-flush" id="accordionExample">

    <!-- Today's Tasks -->
    <div class="accordion-item custom-accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button custom-accordion-header" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Today
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body custom-accordion-body">
                {% if todays_tasks %}
                <table class="table table-hover align-middle fixed-table">
                    <thead class="table-header">
                        <tr>
                            <th class="col-index">#</th>
                            <th class="col-title">Title</th>
                            <th class="col-status"></th>
                            <th class="col-actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in todays_tasks %}
                        <tr class="clickable-row" data-href="{{ url_for('main.task_detail', id=task.task_id) }}">
                            <th scope="row" class="text-warning">{{ loop.index }}</th>
                            <td>{{ task.title }}</td>
                            <td></td>
                            <td>
                                <a href="{{ url_for('main.task_edit', id=task.task_id) }}"
                                    class="btn btn-outline-secondary btn-sm" onclick="event.stopPropagation();">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <br>
                <p class="text-center fw-lighter fst-italic">No tasks yet...</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Pending Tasks -->
    <div class="accordion-item custom-accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed custom-accordion-header" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Pending
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body custom-accordion-body">
                {% if pending_tasks %}
                <table class="table table-hover align-middle fixed-table">
                    <thead class="table-header">
                        <tr>
                            <th class="col-index">#</th>
                            <th class="col-title">Title</th>
                            <th class="col-status">Pending For</th>
                            <th class="col-actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in pending_tasks %}
                        <tr class="clickable-row" data-href="{{ url_for('main.task_detail', id=task.task_id) }}">
                            <th scope="row" class="text-warning">{{ loop.index }}</th>
                            <td>{{ task.title }}</td>
                            <td class="text-danger">{{ task.task_status }}</td>
                            <td><a href="{{ url_for('main.task_edit', id=task.task_id) }}"
                                    class="btn btn-outline-secondary btn-sm" onclick="event.stopPropagation();">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <br>
                <p class="text-center fw-lighter fst-italic">No tasks yet...</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Upcoming Tasks -->
    <div class="accordion-item custom-accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed custom-accordion-header" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Upcoming
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body custom-accordion-body">
                {% if upcoming_tasks %}
                <table class="table table-hover align-middle fixed-table">
                    <thead class="table-header">
                        <tr>
                            <th class="col-index">#</th>
                            <th class="col-title">Title</th>
                            <th class="col-status">Due In</th>
                            <th class="col-actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in upcoming_tasks %}
                        <tr class="clickable-row" data-href="{{ url_for('main.task_detail', id=task.task_id) }}">
                            <th scope="row" class="text-warning">{{ loop.index }}</th>
                            <td>{{ task.title }}</td>
                            <td>{{ task.task_status }}</td>
                            <td>
                                <aa href="{{ url_for('main.task_edit', id=task.task_id) }}"
                                    class="btn btn-outline-secondary btn-sm" onclick="event.stopPropagation();">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <br>
                <p class="text-center fw-lighter fst-italic">No tasks yet...</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Completed Tasks -->
    <div class="accordion-item custom-accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed custom-accordion-header" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Completed
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body custom-accordion-body">
                {% if completed_tasks %}
                <table class="table table-hover align-middle fixed-table">
                    <thead class="table-header">
                        <tr>
                            <th class="col-index">#</th>
                            <th class="col-title">Title</th>
                            <th class="col-status">Due In</th>
                            <th class="col-actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in completed_tasks %}
                        <tr class="clickable-row" data-href="{{ url_for('main.task_detail', id=task.task_id) }}">
                            <th scope="row" class="text-warning">{{ loop.index }}</th>
                            <td>{{ task.title }}</td>
                            <td>{{ task.task_status }}</td>
                            <td>
                                <aa href="{{ url_for('main.task_edit', id=task.task_id) }}"
                                    class="btn btn-outline-secondary btn-sm" onclick="event.stopPropagation();">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <br>
                <p class="text-center fw-lighter fst-italic">No tasks yet...</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}