{% extends "users/user_dashboard.html" %}

{% block user_content %}

<div class="container">
    <h3>ADMIN PAGE</h3>
    <hr><br>

    <!-- ALERT MESSAGE -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="max-width: 75%; margin: 0 auto;">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}

    {% block admin_content %}
    {% endblock %}

    <br>
    <hr><br>

</div>


{% endblock %}