{% extends "admin/admin_dashboard.html" %}

{% block admin_content %}

<div class="container">
    <!-- Flex container for cards -->
    <div class="d-flex flex-wrap gap-3">
        {% for user in users %}
        <div class="card" style="width: 18rem;">
            <div class="card-header text-center">
                {{user.first_name}} {{user.last_name}}
            </div>
            <ul class="list-group list-group-flush ps-2">
                <li class="list-group-item"><strong>Email:</strong> <em>{{user.email}}</em></li>
                <li class="list-group-item"><strong>Date Added:</strong> <em>{{user.date_added.strftime('%B %d,
                        %Y')}}</em></li>
                <li class="list-group-item"><strong>Password:</strong> <em>{{user.password_hash}}</em></li>
            </ul>

            <!-- DELETE ROUTE -->
            <form action="{{ url_for('main.delete_user', id=user.id) }}" method="POST">
                {{ form.hidden_tag() }}
                {{ form.delete(class="btn btn-outline-danger btn-sm align-self-center", style="width: 30%;") }}
            </form>
        </div>

        {% endfor %}
    </div>

    <hr>
    <a class="btn btn-outline-secondary" href="{{ url_for('main.admin_dashboard') }}">Back</a>
</div>


{% endblock %}