<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
    <div class="container-fluid">

        <!-- Left-aligned brand -->
        <span class="navbar-brand mb-0 h1 text-warning">TooDoo</span>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Right-aligned nav items -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <!-- DROPDOWN -->
                <!-- Admin Routes -->
                {% if current_user.id == 1 %}
                <li class="nav-item me-4">
                    <a class="nav-link" href="{{ url_for('main.admin_dashboard') }}">Admin</a>
                </li>
                {% endif %}

                <!-- Routes after loggin in -->

                <!-- User -->

                {% if current_user.is_authenticated %}
                <li class="nav-item me-4">
                    <a class="nav-link" href="{{ url_for('main.user_dashboard') }}">Dashboard</a>
                </li>

                <!-- Task -->
                <li class="nav-item dropdown me-4">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Tasks
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-glass">
                        <li><a class="dropdown-item" href="{{ url_for('main.task_create') }}">Create</a>
                        </li>
                    </ul>
                </li>

                <!-- Profile dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Icon
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-glass">
                        <li>
                            <a class="dropdown-item" href="{{ url_for('main.user_profile') }}">
                                <i class="bi bi-person-circle me-2"></i>Profile
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('main.user_edit', id=current_user.id) }}">
                                <i class="bi bi-pencil-square me-2"></i>Update Profile
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>


                        <!-- Logout option -->
                        <li>
                            <a class="dropdown-item text-warning" href="{{ url_for('main.user_logout') }}">
                                <i class="bi bi-box-arrow-right me-2"></i>Logout
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- 
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.user_dashboard') }}">Dashboard</a>
                </li> 
                -->
                {% endif %}


            </ul>
        </div>
    </div>
</nav>