<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">TooDoo</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- DROPDOWN -->
                <!-- Admin Routes -->
                {% if current_user.id == 1 %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('main.admin_dashboard') }}">Dashboard</a>
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('main.admin_manage_users') }}">Manage Users</a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                <!-- ACTIVE LIST ITEMS -->
                <!-- Logged in Routes -->
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.user_dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.user_profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.user_edit', id=current_user.id) }}">Update Profile</a>
                </li>
                {% endif %}


            </ul>
        </div>
    </div>
</nav>