{% extends "users/user_dashboard.html" %}

{% block user_content %}

<form method="POST">
    {{ edit_form.csrf_token }}

    <div class="row">
        <div class="col-md-6 mb-3 text-start">
            {{ edit_form.first_name.label(class="form-label") }}
            {{ edit_form.first_name(class="form-control", value=current_user.first_name) }}
        </div>
        <div class="col-md-6 mb-3 text-start">
            {{ edit_form.last_name.label(class="form-label") }}
            {{ edit_form.last_name(class="form-control", value=current_user.last_name) }}
        </div>
    </div>
    <div class="mb-3 text-start">
        {{ edit_form.email.label(class="form-label") }}
        {{ edit_form.email(class="form-control", value=current_user.email) }}
    </div>
    <hr><br>
    {{ edit_form.save(class="btn btn-outline-success btn-sm", style="width: 25%") }}
    <a href="{{ url_for('main.user_dashboard') }}" class="btn btn-outline-secondary btn-sm"
        style="width: 25%">Cancel</a>
</form>
<hr><br>
<a href="{{ url_for('main.user_update_pass')}}" class="btn btn-outline-secondary btn-sm w-25">Change Password</a>
<br>
<hr><br>

<form method="POST" action="{{ url_for('main.user_delete', id=current_user.id) }}">
    {{ delete_form.csrf_token }}
    {{ delete_form.delete(class="btn btn-outline-danger btn-sm w-25", value="Delete Profile") }}
</form>
{% endblock %}